
/****MENU****/

ul.main-menu{
  list-style: none;
  margin: 0;
  float: right;
}
li {
	float: left;
}
.menu-item {
  background: #FF8900;
  background: linear-gradient(#FF8900, #404853);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 38px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  text-decoration: none;
}
.menu-hover:hover {
  background: #404853;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #40485;
  
}
li:first-child a{
  border-left: none;
  border-radius: 4px 0 0 4px;
}
li:last-child a {
  border-right: none;
  border-radius: 0 4px 4px 0;
}

/****SUBMENU***/
ul.obj-menu{
	list-style: none;
	/*display:none;*/
}
ul.obj-menu.li{
    position:relative;
}
.menu-item:hover {
    display:block;
}
ul{
	list-style: none;
}

ul#menu li{
	float:left;
    position:relative;
	
}

ul#menu ul {
	position:absolute;
    left:0;
    display:none;
}

ul#menu li:hover ul{
    display:block;
}

nav {
  margin-right: 2em;
}

.submenu-item{
  background: #FF8900;
  text-decoration: none;
  border-left: 1px solid;
  border-right: 1px solid;
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  margin: 0px;
  line-height: 38px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  border-radius: 4px 4px 4px 4px;
}

/****HEADER***/
header {
  background: #88AF5C;
  border-bottom: 3px dashed white;
  padding: 20px 0;
  margin-bottom: 20px;
  
  font: 1.2em normal normal uppercase helvetica, arial, serif;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  padding: 5px;
  display: block;
  text-shadow: 2px 2px #265E22;
}

/****BODY****/
section{
  font: 1em normal normal helvetica, arial, serif;
  margin-left: 2em;
  margin-right: 2em;
}

section h2 {
   text-shadow: 2px 2px #265E22;
   color:#88AF5C;
}


/****FOOTER****/
footer {
  background: #88AF5C;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: 160px;
  padding: 20px 0;

  color: white;
  font: 0.9em normal normal helvetica, arial, serif;
  clear: both;
  text-align: center;
  border-top: 3px;
  margin-top: 3em;
}

footer img{
  text-align: center;
  text-decoration: none;
  color: white;
  clear: both;
   width: 5%;
}

/****CONTACT FORM****/
form {
		background:#FFDA82 url('img/letter_bg.png');	
		height:230px;
		width:400px;
		margin:0px auto;
		padding:20px; 
		border: 1px solid #fff;
		border-radius: 3px;
		box-shadow:  0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;		
		}
		
label {
			margin: 11px 20px 0 0; 
			font: 16px normal normal uppercase helvetica, arial, serif; 
			color: #63605C;
			text-shadow: 0px 1px 0px #fff;
		}
		
input[type=text], textarea {
			font: 14px normal normal uppercase helvetica, arial, serif;
			color: #7c7873;
			background:#FFE199;
			width: 380px; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			border-radius: 5px;
			box-shadow: inset 0px 0px 1px #b3a895; 
		}	

textarea { 
	height: 80px; padding-top:14px;
}

textarea:focus, input[type=text]:focus {
background:#FFECBF;
}

#send-button {
	float:right;
	font-size:20px; 
	color: #7c7873;
	text-shadow:0 1px 0 #fff;
	width:25%; 
	text-align:center;
	opacity:1;
	cursor: pointer;
}

/****OBJECT INFO****/

#object-img{
	position: center;
	height:auto;
	width:500px;
	margin:0px auto;
	padding:20px;
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow:  0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;			
}
		




